Repository stanfordmlgroup/ngboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, pylint-ngboost, pylint-tests

isort:
  name: isort
  language: system
  entry: isort

flake8:
  name: Flake8
  language: system
  entry: flake8

pylint-ngboost:
  name: pylint on nboost*
  language: system
  entry: pylint --disable=invalid-name,no-member,missing-docstring,no-self-argument,arguments-differ,R0801

pylint-tests:
  name: pylint on tests*
  language: system
  entry: pylint --disable=invalid-name,missing-docstring,too-many-function-args,unused-variable,fixme

clean up GH workflow
  .github/workflows/pythonpackage.yml
Due: none

I'm being silly
  Makefile
Due: none

try this
  Makefile
Due: none

Corrcet Makefile typo
  Makefile
Due: none

Fix typo in Makefile
  Makefile
Due: none

Fix typo in Makefile (#207)
  Makefile
Due: none

update dep for tqdm
  pyproject.toml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

jax implementation test
  Untitled.ipynb
  ngboost/__init__.py
  ngboost/api.py
  ngboost/distns/__init__.py
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/ngboost.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

jax working
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/manifold.py
  ngboost/ngboost.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

build class methods, fix sign issue
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/distns/old_normal.py
  ngboost/manifold.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

Delete old_normal.py
  ngboost/distns/old_normal.py
Due: isort, flake8, pylint-ngboost

cleanup non-jax dist implementations
  ngboost/distns/cauchy.py
  ngboost/distns/exponential.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/multivariate_normal.py
  ngboost/distns/poisson.py
Due: isort, flake8, pylint-ngboost

rm unimplemented dists
  ngboost/api.py
  ngboost/distns/__init__.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

autotransform dist parameters
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Delete t.py
  ngboost/distns/t.py
Due: isort, flake8, pylint-ngboost

fit method with user-facing interface
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

automate initial fit
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

rename fit to fit_marginal
  ngboost/distns/normal.py
  ngboost/ngboost.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

renaming to fit marginal, better fit initialization
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

fixed bugs, added production-grade normal dist
  ngboost/distns/__init__.py
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/distns/simple_normal.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

everything works and basically clean
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/manifold.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

fixed CRPScore
  ngboost/distns/normal.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

update readme with conda forge instructions
  README.md
Due: none

unused import
  ngboost/distns/simple_normal.py
Due: isort, flake8, pylint-ngboost

big refactor, normal working
  ngboost/__init__.py
  ngboost/api.py
  ngboost/censored.py
  ngboost/distns/__init__.py
  ngboost/distns/distn.py
  ngboost/distns/normal.py
  ngboost/distns/simple_normal.py
  ngboost/helpers.py
  ngboost/manifold.py
  ngboost/ngboost.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

ref for _d_cdf
  ngboost/distns/normal.py
Due: isort, flake8, pylint-ngboost

indexing combination -> sum combination
  ngboost/censored.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

Symbolic differentiation with sympy
  ngboost/distns/normal.py
Due: isort, flake8, pylint-ngboost

faster implementation with lambdastr
  ngboost/distns/normal.py
Due: isort, flake8, pylint-ngboost

clearing the code
  ngboost/distns/normal.py
Due: isort, flake8, pylint-ngboost

minor type
  ngboost/distns/normal.py
Due: isort, flake8, pylint-ngboost

Updating Normal distribution, adding Gamma distribution
  docs/requirements.txt
  ngboost/distns/__init__.py
  ngboost/distns/gamma.py
  ngboost/distns/normal.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

adding sympy in pyproject.toml
  pyproject.toml
Due: none

Create gamma.py
  ngboost/distns/gamma.py
Due: isort, flake8, pylint-ngboost

Update __init__.py
  ngboost/distns/__init__.py
Due: isort, flake8, pylint-ngboost

update dependencies
  pyproject.toml
Due: none

supported version checking via ngboost.__version__
  ngboost/__init__.py
  pyproject.toml
  tests/test_version.py
Due: isort, flake8, pylint-ngboost, pylint-tests

isort fix
  ngboost/__init__.py
Due: isort, flake8, pylint-ngboost

Path conditions:
  isort: any of: \.py$
  flake8: any of: ^ngboost and \.py$
  pylint-ngboost: any of: ^ngboost and \.py$
  pylint-tests: any of: ^tests
