Repository stanfordmlgroup/ngboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, pylint-ngboost, pylint-tests

isort:
  name: isort
  language: system
  entry: isort

flake8:
  name: Flake8
  language: system
  entry: flake8

pylint-ngboost:
  name: pylint on nboost*
  language: system
  entry: pylint --disable=invalid-name,no-member,missing-docstring,no-self-argument,arguments-differ,R0801

pylint-tests:
  name: pylint on tests*
  language: system
  entry: pylint --disable=invalid-name,missing-docstring,too-many-function-args,unused-variable,fixme

updated black version
  .pre-commit-config.yaml
Due: none

set fixed poetry version in Makefile
  Makefile
Due: none

replaced deprecated boston-dataset with california_housing_data now calculating threshold of censored data.
  tests/conftest.py
  tests/test_basic.py
  tests/test_distns.py
  tests/test_pickling.py
Due: isort, pylint-tests

run black formatter
  examples/simulations/regression_sim.py
  figures/toy.py
  figures/toy_single.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/normal.py
  ngboost/distns/t.py
  ngboost/distns/utils.py
Due: isort, flake8, pylint-ngboost

Fixing black formatter (#301)
  .github/workflows/pythonpackage.yml
  .pre-commit-config.yaml
  Makefile
  examples/simulations/regression_sim.py
  figures/toy.py
  figures/toy_single.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/normal.py
  ngboost/distns/t.py
  ngboost/distns/utils.py
  pyproject.toml
  tests/conftest.py
  tests/test_basic.py
  tests/test_distns.py
  tests/test_pickling.py
Due: isort, flake8, pylint-ngboost, pylint-tests

rerun black
  ngboost/distns/gamma.py
Due: isort, flake8, pylint-ngboost

Fix off-by-one error (issue #302)
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

add sklearn dictionary support
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

fix formatting
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

add release notes and bump version
  RELEASE_NOTES.md
Due: none

add release note desc
  RELEASE_NOTES.md
Due: none

doc: centre readme buttons and more buttons - repo size, version number on pypi, pypi downloads
  README.md
Due: none

upate relase notes and bump version
  RELEASE_NOTES.md
  pyproject.toml
Due: none

remove metadata add
  pyproject.toml
Due: none

doc: FI -> fisher_information for readability
  ngboost/distns/categorical.py
  ngboost/distns/exponential.py
  ngboost/distns/gamma.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/multivariate_normal.py
  ngboost/distns/normal.py
  ngboost/distns/poisson.py
  ngboost/distns/t.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fea: add kwarg to remove online learning effect.
  ngboost/api.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Shift flake8 to dev dependencies
  pyproject.toml
Due: none

fea: change code such that fit doesn't append to a global list but resets it.
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

doc: revert FI name change
  ngboost/distns/categorical.py
  ngboost/distns/exponential.py
  ngboost/distns/gamma.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/multivariate_normal.py
  ngboost/distns/normal.py
  ngboost/distns/poisson.py
  ngboost/distns/t.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

lint: run pre-commit hook
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

fea: test that the three lists have same length and
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Remove declared pandas dependency
  pyproject.toml
Due: none

Add py311, remove py37
  .github/workflows/pythonpackage.yml
  examples/experiments/survival_exp.py
  ngboost/helpers.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

Fix minor linting errors on new pylint
  ngboost/distns/categorical.py
  ngboost/ngboost.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Fix types; remove comment
  ngboost/ngboost.py
  tests/conftest.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Set seed for deterministic tests
  tests/conftest.py
Due: isort, pylint-tests

Fix types in test file
  tests/test_distns.py
Due: isort, pylint-tests

Fix unused import; Use specific noqa codes; Fix typo in pre-commit config
  .pre-commit-config.yaml
  ngboost/__init__.py
  ngboost/distns/__init__.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Fix type in tests
  tests/test_distns.py
Due: isort, pylint-tests

Fix feature importance base case
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

update version and add release notes
  RELEASE_NOTES.md
  pyproject.toml
Due: none

feat: add estimator type with reg and clf
  ngboost/api.py
Due: isort, flake8, pylint-ngboost

fix: remove the whitespace
  ngboost/api.py
Due: isort, flake8, pylint-ngboost

Enable Base models that don't accept sample weight
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Change docstring for NGBoost.fit()
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Update README.md
  README.md
Due: none

black reformatted something
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

add workflow for running tests
  .github/workflows/test.yaml
Due: none

rename workflow
  .github/workflows/pythonpackage.yml
  .github/workflows/test.yaml
Due: none

replace np.bool with bool
  ngboost/helpers.py
Due: isort, flake8, pylint-ngboost

Path conditions:
  isort: any of: \.py$
  flake8: any of: ^ngboost and \.py$
  pylint-ngboost: any of: ^ngboost and \.py$
  pylint-tests: any of: ^tests
