Repository stanfordmlgroup/ngboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, pylint-ngboost, pylint-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit, manual]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml # Checks yaml files for parsable syntax.
      - id: check-json # Checks json files for parsable syntax.
      - id: check-added-large-files # Checks for large files that bloat the git repository
      - id: check-case-conflict # Check for files that would conflict in case-insensitive filesystems
      - id: check-merge-conflict # Check for files that contain merge conflict strings.
      - id: debug-statements # Check for debugger imports and py37+ `breakpoint()` calls in python source.
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: isort
        name: isort
        types: [file, python]
        language: system
        entry: isort
      - id: flake8
        name: Flake8
        types: [file, python]
        language: system
        files: ^ngboost
        entry: flake8
      - id: pylint-ngboost
        name: pylint on ngboost*
        types: [file, python]
        language: system
        files: ^ngboost
        entry: pylint --disable=invalid-name,no-member,missing-docstring,no-self-argument,arguments-differ
      - id: pylint-tests
        name: pylint on tests*
        language: system
        files: ^tests
        entry: pylint --disable=invalid-name,missing-docstring,too-many-function-args,unused-variable,fixme

Adding NormalFixedMean (#333)
  ngboost/distns/__init__.py
  ngboost/distns/normal.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

update version
  pyproject.toml
Due: none

update release notes
  RELEASE_NOTES.md
Due: none

Makefile updates (#348)
  Makefile
  RELEASE_NOTES.md
  pyproject.toml
Due: none

added negative binomial file
  ngboost/distns/negative_binomial.py
Due: isort, flake8, pylint-ngboost

added negative binomial to init
  ngboost/distns/__init__.py
Due: isort, flake8, pylint-ngboost

added negative binomial score testing
  tests/test_score.py
Due: isort, pylint-tests

remove warnings import
  ngboost/distns/negative_binomial.py
Due: isort, flake8, pylint-ngboost

saved params to class variable
  ngboost/distns/negative_binomial.py
Due: isort, flake8, pylint-ngboost

disable super init not called
  ngboost/distns/negative_binomial.py
Due: isort, flake8, pylint-ngboost

lint formatting
  ngboost/distns/negative_binomial.py
Due: isort, flake8, pylint-ngboost

more formatting
  tests/test_score.py
Due: isort, pylint-tests

isort changes
  ngboost/distns/negative_binomial.py
Due: isort, flake8, pylint-ngboost

formatting
  ngboost/distns/negative_binomial.py
Due: isort, flake8, pylint-ngboost

Relax constraints on input X: Allow NaNs
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Allow NaNs in input X
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

allow NaNs at inference time
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

add lint config and simplify linting
  .pre-commit-config.yaml
  .pylintrc
Due: none

fix numpy installation
  pyproject.toml
Due: none

Add support for Numpy 2.*, fix linting issues
  ngboost/api.py
  ngboost/ngboost.py
  ngboost/scores.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

Add support for Numpy 2.*, fix linting issues (#365)
  ngboost/api.py
  ngboost/ngboost.py
  ngboost/scores.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

add 0.5.2 release notes
  RELEASE_NOTES.md
Due: none

add 0.5.2 release notes (#367)
  RELEASE_NOTES.md
Due: none

Updating poetry
  Makefile
Due: none

Updating poetry (#369)
  Makefile
Due: none

Allow NaNs in input X (#362)
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

update for 0.5.3 release
  RELEASE_NOTES.md
  pyproject.toml
Due: none

update for 0.5.3 release (#370)
  RELEASE_NOTES.md
  pyproject.toml
Due: none

Update partial_fit to respect validation data
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

poetry format
  ngboost/ngboost.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

Update pyproject.toml
  pyproject.toml
Due: none

Update partial_fit to respect validation data (#372)
  ngboost/ngboost.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

0.5.4 release
  RELEASE_NOTES.md
  pyproject.toml
Due: none

0.5.4 release (#373)
  RELEASE_NOTES.md
  pyproject.toml
Due: none

fix broken package image
  README.md
Due: none

fix lint issue
  README.md
Due: none

fix broken package image (#374)
  README.md
Due: none

bump sklearn to 1.6 and rename deprecated parameters
  ngboost/ngboost.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

fix: syntax warning in examples
  README.md
  examples/regression.py
  examples/survival.py
Due: isort

fix: syntax warning in examples (#378)
  README.md
  examples/regression.py
  examples/survival.py
Due: isort
