Repository stanfordmlgroup/ngboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, pylint-ngboost, pylint-tests

isort:
  name: isort
  language: system
  entry: isort

flake8:
  name: Flake8
  language: system
  entry: flake8

pylint-ngboost:
  name: pylint on nboost*
  language: system
  entry: pylint --disable=invalid-name,no-member,missing-docstring,no-self-argument,arguments-differ,R0801

pylint-tests:
  name: pylint on tests*
  language: system
  entry: pylint --disable=invalid-name,missing-docstring,too-many-function-args,unused-variable,fixme

setup tox
  tox.ini
Due: none

Updated the multivariate_normal distribution just for regression.
  ngboost/distns/multivariate_normal.py
  ngboost/ngboost.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Added an example for the multivariate normal distribution.
  examples/multivariate_normal.py
Due: isort

isort applied
  ngboost/distns/multivariate_normal.py
  ngboost/ngboost.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

isort applied
  ngboost/distns/multivariate_normal.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Minor changes to fix failed pylint tests
  ngboost/distns/multivariate_normal.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

add codeowners file and bump version for latest merges
  .github/CODEOWNERS
  pyproject.toml
Due: none

Added d_score and metric tests for most distributions. Set some relatively safe thresholds
  ngboost/distns/multivariate_normal.py
  tests/test_distns.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

bump version to 0.3.10
  pyproject.toml
Due: none

.
  ngboost/distns/betabinomial.py
Due: isort, flake8, pylint-ngboost

There were some typos.
  ngboost/api.py
Due: isort, flake8, pylint-ngboost

Made NGBSurvival pickable, followed a similar method to k_categorical and multivariate normal.
  ngboost/api.py
  ngboost/ngboost.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Added tests from the test-pickle branch.
  tests/test_pickling.py
Due: isort, pylint-tests

Moved SurvivalDistnClass factory to distn/utils.
  ngboost/api.py
  ngboost/distns/utils.py
  tests/test_pickling.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Cleaned up test_pickling.py to make use of already existing fixtures
  tests/test_pickling.py
Due: isort, pylint-tests

update version
  pyproject.toml
Due: none

Updated examples to avoid dataset loading problems with sklean 0.25
  examples/classification.py
  examples/model_interpretation/Feature_importance.ipynb
  examples/model_interpretation/SHAP_plots.ipynb
  examples/multiclass_classification.py
  examples/regression.py
  examples/sklearn_cv.py
  examples/survival.py
Due: isort

fix linting issues
  examples/model_interpretation/Feature_importance.ipynb
  examples/model_interpretation/SHAP_plots.ipynb
Due: none

update
  ngboost/.vscode/settings.json
  ngboost/distns/__init__.py
  ngboost/distns/beta.py
  ngboost/distns/betabernoulli.py
  ngboost/distns/logitnormal.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

fix helper functions
  ngboost/helpers.py
Due: isort, flake8, pylint-ngboost

fix linting issues with else and the returns
  ngboost/helpers.py
Due: isort, flake8, pylint-ngboost

bump version
  pyproject.toml
Due: none

Update api.py
  ngboost/api.py
Due: isort, flake8, pylint-ngboost

Update Ngboost Early Stopping
  ngboost/api.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

2
  ngboost/ngboost.py
  ngboost/ngboost_early_stop_test_single_api.ipynb
Due: isort, flake8, pylint-ngboost

3
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Update ngboost.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

5
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Update
  ngboost/api.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Path conditions:
  isort: any of: \.py$
  flake8: any of: ^ngboost and \.py$
  pylint-ngboost: any of: ^ngboost and \.py$
  pylint-tests: any of: ^tests
