Repository stanfordmlgroup/ngboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, pylint-ngboost, pylint-tests

isort:
  name: isort
  language: system
  entry: isort

flake8:
  name: Flake8
  language: system
  entry: flake8

pylint-ngboost:
  name: pylint on nboost*
  language: system
  entry: pylint --disable=invalid-name,no-member,missing-docstring,no-self-argument,arguments-differ,R0801

pylint-tests:
  name: pylint on tests*
  language: system
  entry: pylint --disable=invalid-name,missing-docstring,too-many-function-args,unused-variable,fixme

Update ngboost.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Update
  ngboost_early_stop_test_single_api.ipynb
Due: none

1
  ngboost/api.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Add HistGradientBoosting-Like Early Stopping
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Delete ngboost_early_stop_test_single_api.ipynb
  ngboost_early_stop_test_single_api.ipynb
Due: none

Update NGboost to Add HistGradientBoosting-Like Early Stopping
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Updates in response to Pylint, and Flake8 Suggestions
  ngboost/api.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Add files via upload
  ngboost/distns/mixture_normal.py
Due: isort, flake8, pylint-ngboost

fix basic formatting issues
  ngboost/distns/mixture_normal.py
Due: isort, flake8, pylint-ngboost

fix linting and line lenght issues
  ngboost/api.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Update mixture_normal.py
  ngboost/distns/mixture_normal.py
Due: isort, flake8, pylint-ngboost

Try to allow sparse X
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Try to allow sparse X
  ngboost/api.py
Due: isort, flake8, pylint-ngboost

Allow sparse X in fit and predict
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Linting
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

bump version
  pyproject.toml
Due: none

Kmedved/master (#268)
  ngboost/api.py
  ngboost/ngboost.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

Add set_params, get_params
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

delete line
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Bump python version due to lack of support for 3.6.0 from Pandas. Fix pylint issue.
  ngboost/evaluation.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

black ngboost/ngboost.py
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Bump python version to least supported version for pylint
  pyproject.toml
Due: none

Bump python version due to lack of support for 3.6.0 from Pandas. Fix… (#286)
  ngboost/evaluation.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

added Gamma distribution
  ngboost/distns/__init__.py
  ngboost/distns/gamma.py
  tests/test_distns.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fixed too long lines
  ngboost/distns/gamma.py
Due: isort, flake8, pylint-ngboost

fixed missing whitespace around arithmetic operator
  ngboost/distns/gamma.py
Due: isort, flake8, pylint-ngboost

formatting with black
  examples/simulations/regression_sim.py
  figures/toy.py
  figures/toy_single.py
  ngboost/distns/gamma.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/normal.py
  ngboost/distns/t.py
  ngboost/distns/utils.py
  tests/test_distns.py
  tests/test_pickling.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

second attempt of running black
  figures/toy.py
  figures/toy_single.py
  ngboost/distns/gamma.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/normal.py
  ngboost/distns/t.py
Due: isort, flake8, pylint-ngboost

Updating black formatter to latest
  pyproject.toml
Due: none

Updating black version in pre-commit
  .pre-commit-config.yaml
Due: none

Formatting
  examples/simulations/regression_sim.py
  figures/toy.py
  figures/toy_single.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/normal.py
  ngboost/distns/t.py
  ngboost/distns/utils.py
  tests/test_pickling.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Pinning poetry version
  Makefile
Due: none

Pinning poetry version - downgrade
  Makefile
Due: none

Return to 1.2.1 for poetry, remove python 3.6 build and add build for 3.9 and 3.10
  .github/workflows/pythonpackage.yml
  Makefile
Due: none

Adding quotes to python version in actions yml for correct parsing
  .github/workflows/pythonpackage.yml
Due: none

Bumping python version and numpy version
  pyproject.toml
Due: none

Updated test datasets, reverted required numpy version
  pyproject.toml
  tests/conftest.py
Due: isort, pylint-tests

Updating dependencies to support 3.10
  pyproject.toml
Due: none

updated Python versions
  .github/workflows/pythonpackage.yml
Due: none

updated Python packages
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: ^ngboost and \.py$
  pylint-ngboost: any of: ^ngboost and \.py$
  pylint-tests: any of: ^tests
