Repository stanfordmlgroup/ngboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, pylint-ngboost, pylint-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit, manual]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml # Checks yaml files for parsable syntax.
      - id: check-json # Checks json files for parsable syntax.
      - id: check-added-large-files # Checks for large files that bloat the git repository
      - id: check-case-conflict # Check for files that would conflict in case-insensitive filesystems
      - id: check-merge-conflict # Check for files that contain merge conflict strings.
      - id: debug-statements # Check for debugger imports and py37+ `breakpoint()` calls in python source.
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: isort
        name: isort
        types: [file, python]
        language: system
        entry: isort
      - id: flake8
        name: Flake8
        types: [file, python]
        language: system
        files: ^ngboost
        entry: flake8
      - id: pylint-ngboost
        name: pylint on ngboost*
        types: [file, python]
        language: system
        files: ^ngboost
        entry: pylint --disable=invalid-name,no-member,missing-docstring,no-self-argument,arguments-differ
      - id: pylint-tests
        name: pylint on tests*
        language: system
        files: ^tests
        entry: pylint --disable=invalid-name,missing-docstring,too-many-function-args,unused-variable,fixme

bump sklearn to 1.6 and rename deprecated parameters (#377)
  ngboost/ngboost.py
  pyproject.toml
Due: isort, flake8, pylint-ngboost

v0.5.5 release
  RELEASE_NOTES.md
  pyproject.toml
Due: none

lint
  RELEASE_NOTES.md
Due: none

v0.5.5 release (#380)
  RELEASE_NOTES.md
  pyproject.toml
Due: none

Update parameters in `get_params`
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

fix: make col_sample min equals to 1
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

fix: make col_sample min equals to 1 (#385)
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

feat: added Weibull distribution
  ngboost/distns/__init__.py
  ngboost/distns/weibull.py
  tests/test_distns.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fix: black and isort formatters
  ngboost/distns/__init__.py
  ngboost/distns/weibull.py
  tests/test_distns.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

feat: added halfnormal distribution
  ngboost/distns/__init__.py
  ngboost/distns/halfnormal.py
  tests/test_distns.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Added Weibull Distribution (#386)
  ngboost/distns/__init__.py
  ngboost/distns/weibull.py
  tests/test_distns.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

feat: added halfnormal distribution (#387)
  ngboost/distns/__init__.py
  ngboost/distns/halfnormal.py
  tests/test_distns.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

release 0.5.6
  RELEASE_NOTES.md
  pyproject.toml
Due: none

release 0.5.6 (#388)
  RELEASE_NOTES.md
  pyproject.toml
Due: none

Enabling `python=3.13`
  .github/workflows/pythonpackage.yml
  pyproject.toml
Due: none

Increase lower bounds of `numpy` and `scipy` for `python=3.13` environments.
  pyproject.toml
Due: none

add beta distribution
  ngboost/distns/__init__.py
  ngboost/distns/beta.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

lint: linting
  ngboost/distns/beta.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Enabling `python=3.13` (#390)
  .github/workflows/pythonpackage.yml
  pyproject.toml
Due: none

README: swap Boston→California; remove broken pd/np usage and HTTP fetch
  README.md
Due: none

README: swap Boston→California; remove broken pd/np usage and HTTP fetch (#393)
  README.md
Due: none

Update dev dependencies and improve pyproject.toml configuration
  pyproject.toml
Due: none

Fix Black target-version configuration
  pyproject.toml
Due: none

Update pre-commit configuration
  .pre-commit-config.yaml
Due: none

Apply linting fixes
  examples/simulations/regression_sim.py
  examples/user-guide/scripts/clean.py
  figures/vis_crps.py
  figures/vis_mle.py
  ngboost/distns/__init__.py
  ngboost/distns/categorical.py
  ngboost/distns/cauchy.py
  ngboost/distns/distn.py
  ngboost/distns/exponential.py
  ngboost/distns/gamma.py
  ngboost/distns/halfnormal.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/multivariate_normal.py
  ngboost/distns/normal.py
  ngboost/distns/poisson.py
  ngboost/distns/t.py
  ngboost/distns/utils.py
  ngboost/distns/weibull.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Update pre-commit-hooks to v6.0.0
  .pre-commit-config.yaml
Due: none

Add Score Matching Score for Normal distributin
  ngboost/distns/normal.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

Add a line
  ngboost/distns/normal.py
Due: isort, flake8, pylint-ngboost

Match pep8 style
  ngboost/distns/normal.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

update release
  RELEASE_NOTES.md
  pyproject.toml
Due: none

Update dev dependencies (#394)
  .pre-commit-config.yaml
  RELEASE_NOTES.md
  examples/simulations/regression_sim.py
  examples/user-guide/scripts/clean.py
  figures/vis_crps.py
  figures/vis_mle.py
  ngboost/distns/__init__.py
  ngboost/distns/categorical.py
  ngboost/distns/cauchy.py
  ngboost/distns/distn.py
  ngboost/distns/exponential.py
  ngboost/distns/gamma.py
  ngboost/distns/halfnormal.py
  ngboost/distns/laplace.py
  ngboost/distns/lognormal.py
  ngboost/distns/multivariate_normal.py
  ngboost/distns/normal.py
  ngboost/distns/poisson.py
  ngboost/distns/t.py
  ngboost/distns/utils.py
  ngboost/distns/weibull.py
  pyproject.toml
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Fix NumPy 2.x natural gradient compatibility issue
  .evn
  ngboost/scores.py
  pyproject.toml
  tests/test_numpy2_compatibility.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fix veresion
  pyproject.toml
Due: none

Fix linting issues in test_numpy2_compatibility.py
  tests/test_numpy2_compatibility.py
Due: isort, pylint-tests

Fix trailing whitespace in scores.py
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

tests: make_regression unpack (X, y) for sklearn compatibility across versions
  tests/test_numpy2_compatibility.py
Due: isort, pylint-tests

tests: request coef=True in make_regression and unpack 3 values to satisfy pylint unbalanced-tuple-unpacking across sklearn versions
  tests/test_numpy2_compatibility.py
Due: isort, pylint-tests

Fix natural gradient shape handling without performance hit
  ngboost/scores.py
Due: isort, flake8, pylint-ngboost

Delete .evn
  .evn
Due: none

Fix numpy2 natural gradient compatibility (#400)
  ngboost/scores.py
  tests/test_numpy2_compatibility.py
Due: isort, flake8, pylint-ngboost, pylint-tests
