Repository stanfordmlgroup/ngboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, pylint-ngboost, pylint-tests

isort:
  name: isort
  language: system
  entry: isort

flake8:
  name: Flake8
  language: system
  entry: flake8

pylint-ngboost:
  name: pylint on ngboost*
  language: system
  entry: pylint --disable=invalid-name,no-member,missing-docstring,no-self-argument,arguments-differ

pylint-tests:
  name: pylint on tests*
  language: system
  entry: pylint --disable=invalid-name,missing-docstring,too-many-function-args,unused-variable,fixme

Implemented NormalFixedMean
  ngboost/distns/__init__.py
  ngboost/distns/normal.py
Due: isort, flake8, pylint-ngboost

Added NormalFixedVar and NormalFixedMean to test_distns.py
  tests/test_distns.py
Due: isort, pylint-tests

Match log(sigma) parameterization of Normal class
  ngboost/distns/normal.py
Due: isort, flake8, pylint-ngboost

handle missing labels in logscore test
  tests/test_distns.py
Due: isort, pylint-tests

pin scipy to 1.8.1
  pyproject.toml
Due: none

pin scipy to 1.11.3
  pyproject.toml
Due: none

drop python 3.8 support
  pyproject.toml
Due: none

remove 3.8 build from github actions
  .github/workflows/pythonpackage.yml
Due: none

Fix bool deprecation
  ngboost/helpers.py
Due: isort, flake8, pylint-ngboost

Minor boyscout fixes
  .pre-commit-config.yaml
  tests/test_distns.py
Due: isort, pylint-tests

Fix another np.bool
  examples/experiments/survival_exp.py
Due: isort

Update release notes
  RELEASE_NOTES.md
  pyproject.toml
Due: none

Typo
  RELEASE_NOTES.md
Due: none

Update load_boston in README.md
  README.md
Due: none

Remove load_boston in regression.py
  examples/regression.py
Due: isort

Remove load_boston in survival.py
  examples/survival.py
Due: isort

Add import in regression.py
  examples/regression.py
Due: isort

Add import in survival.py
  examples/survival.py
Due: isort

Add pandas in pyproject.toml
  pyproject.toml
Due: none

Remove pandas from pyproject.toml
  pyproject.toml
Due: none

black format
  examples/regression.py
  examples/survival.py
Due: isort

make lint
  examples/regression.py
  examples/survival.py
Due: isort

Update load_boston in README.md (#340)
  README.md
  examples/regression.py
  examples/survival.py
Due: isort

speed up tests by loading sample once
  tests/test_distns.py
Due: isort, pylint-tests

update deps and add xfail
  pyproject.toml
  tests/test_distns.py
Due: isort, pylint-tests

lint
  tests/test_distns.py
Due: isort, pylint-tests

fix unused argumment warnings
  tests/test_distns.py
Due: isort, pylint-tests

xfail test per https://github.com/stanfordmlgroup/ngboost/pull/320\#issuecomment-1885234861
  tests/test_distns.py
Due: isort, pylint-tests

no need for staged_pred_dist if will only use last value
  ngboost/ngboost.py
Due: isort, flake8, pylint-ngboost

Add py311, remove py37 (#320)
  .github/workflows/pythonpackage.yml
  .pre-commit-config.yaml
  ngboost/__init__.py
  ngboost/distns/__init__.py
  ngboost/distns/categorical.py
  ngboost/ngboost.py
  pyproject.toml
  tests/conftest.py
  tests/test_distns.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Add support for python 3.12
  .github/workflows/pythonpackage.yml
  pyproject.toml
Due: none

Drop support for python 3.9
  .github/workflows/pythonpackage.yml
  pyproject.toml
Due: none

Bump flake8 and pylint
  pyproject.toml
Due: none

Add support for python 3.12, drop python 3.8 (#346)
  .github/workflows/pythonpackage.yml
  pyproject.toml
Due: none

update release
  RELEASE_NOTES.md
  pyproject.toml
Due: none

fix typo in release notes
  RELEASE_NOTES.md
Due: none

Release 0.5.0 (#347)
  RELEASE_NOTES.md
  pyproject.toml
Due: none

setup make to take pypi token and do clean up
  Makefile
Due: none

fix tabs over spaces
  Makefile
Due: none

Update __init__.py
  ngboost/distns/__init__.py
Due: isort, flake8, pylint-ngboost

Path conditions:
  isort: any of: \.py$
  flake8: any of: ^ngboost and \.py$
  pylint-ngboost: any of: ^ngboost and \.py$
  pylint-tests: any of: ^tests
