Repository stanfordmlgroup/ngboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, pylint-ngboost, pylint-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit, manual]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml # Checks yaml files for parsable syntax.
      - id: check-json # Checks json files for parsable syntax.
      - id: check-added-large-files # Checks for large files that bloat the git repository
      - id: check-case-conflict # Check for files that would conflict in case-insensitive filesystems
      - id: check-merge-conflict # Check for files that contain merge conflict strings.
      - id: debug-statements # Check for debugger imports and py37+ `breakpoint()` calls in python source.
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: isort
        name: isort
        types: [file, python]
        language: system
        entry: isort
      - id: flake8
        name: Flake8
        types: [file, python]
        language: system
        files: ^ngboost
        entry: flake8
      - id: pylint-ngboost
        name: pylint on ngboost*
        types: [file, python]
        language: system
        files: ^ngboost
        entry: pylint --disable=invalid-name,no-member,missing-docstring,no-self-argument,arguments-differ
      - id: pylint-tests
        name: pylint on tests*
        language: system
        files: ^tests
        entry: pylint --disable=invalid-name,missing-docstring,too-many-function-args,unused-variable,fixme

release 0.5.8
  RELEASE_NOTES.md
  pyproject.toml
Due: none

release 0.5.8 (#401)
  RELEASE_NOTES.md
  pyproject.toml
Due: none

add json ubj support
  docs/content/4-saving.ipynb
  examples/user-guide/content/4-saving.ipynb
  ngboost/ngboost.py
  ngboost/serialization.py
  pyproject.toml
  tests/test_json_serialization.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fix 3.12 lint
  ngboost/serialization.py
  tests/test_json_serialization.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Adding Sympy factory and example notebooks and doc
  docs/sympy_distributions.md
  ngboost/__init__.py
  ngboost/distns/__init__.py
  ngboost/distns/beta.py
  ngboost/distns/beta_bernoulli.py
  ngboost/distns/betabinomial.py
  ngboost/distns/logitnormal.py
  ngboost/distns/sympy_utils.py
  notebooks/example_beta.ipynb
  notebooks/example_betabernoulli.ipynb
  notebooks/example_betabinomial.ipynb
  notebooks/example_betabinomial_estn.ipynb
  notebooks/example_gamma.ipynb
  notebooks/example_halfnormal.ipynb
  notebooks/example_laplace.ipynb
  notebooks/example_logitnormal.ipynb
  notebooks/example_mixture_lognormal.ipynb
  notebooks/example_multivariate_normal.ipynb
  notebooks/example_normal.ipynb
  notebooks/example_poisson.ipynb
  notebooks/example_t.ipynb
  notebooks/example_weibull.ipynb
  notebooks/sympy_normal_demo.ipynb
  tests/test_score.py
  tests/test_sympy_existing_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

cleanup helpers from local testing
  ngboost/__init__.py
  notebooks/example_beta.ipynb
  notebooks/example_betabernoulli.ipynb
  notebooks/example_betabinomial.ipynb
  notebooks/example_betabinomial_estn.ipynb
  notebooks/example_gamma.ipynb
  notebooks/example_halfnormal.ipynb
  notebooks/example_laplace.ipynb
  notebooks/example_logitnormal.ipynb
  notebooks/example_mixture_lognormal.ipynb
  notebooks/example_multivariate_normal.ipynb
  notebooks/example_normal.ipynb
  notebooks/example_poisson.ipynb
  notebooks/example_t.ipynb
  notebooks/example_weibull.ipynb
  notebooks/sympy_normal_demo.ipynb
Due: isort, flake8, pylint-ngboost

Update GitHub Actions and refactor code for consistency
  .github/workflows/pythonpackage.yml
  ngboost/distns/__init__.py
  ngboost/distns/betabinomial.py
  ngboost/distns/logitnormal.py
  ngboost/distns/sympy_utils.py
  tests/test_sympy_existing_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Add sympy dependency to project configuration
  pyproject.toml
Due: none

Fix Copilot review issues and add Normal mixture example
  ngboost/distns/sympy_utils.py
  notebooks/example_mixture_normal.ipynb
Due: isort, flake8, pylint-ngboost

Run black formatter on sympy_utils.py
  ngboost/distns/sympy_utils.py
Due: isort, flake8, pylint-ngboost

in progress updates
  docs/content/4-saving.ipynb
  examples/user-guide/content/4-saving.ipynb
  ngboost/api.py
  ngboost/ngboost.py
  tests/test_json_serialization.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Enhance MLE fitting by including extra parameters and simplify sampling method
  ngboost/distns/sympy_utils.py
Due: isort, flake8, pylint-ngboost

Validate class probabilities in make_distribution to ensure finiteness and positivity
  ngboost/distns/sympy_utils.py
Due: isort, flake8, pylint-ngboost

SymPy-powered distribution factory for NGBoost (#403)
  .github/workflows/pythonpackage.yml
  docs/sympy_distributions.md
  ngboost/distns/__init__.py
  ngboost/distns/beta.py
  ngboost/distns/beta_bernoulli.py
  ngboost/distns/betabinomial.py
  ngboost/distns/logitnormal.py
  ngboost/distns/sympy_utils.py
  notebooks/example_beta.ipynb
  notebooks/example_betabernoulli.ipynb
  notebooks/example_betabinomial.ipynb
  notebooks/example_betabinomial_estn.ipynb
  notebooks/example_gamma.ipynb
  notebooks/example_halfnormal.ipynb
  notebooks/example_laplace.ipynb
  notebooks/example_logitnormal.ipynb
  notebooks/example_mixture_lognormal.ipynb
  notebooks/example_mixture_normal.ipynb
  notebooks/example_multivariate_normal.ipynb
  notebooks/example_normal.ipynb
  notebooks/example_poisson.ipynb
  notebooks/example_t.ipynb
  notebooks/example_weibull.ipynb
  notebooks/sympy_normal_demo.ipynb
  pyproject.toml
  tests/test_score.py
  tests/test_sympy_existing_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

update to 3.14
  .github/workflows/pythonpackage.yml
  RELEASE_NOTES.md
  pyproject.toml
Due: none

fix 3.9
  pyproject.toml
Due: none

lint
  pyproject.toml
Due: none

update to 3.14 (#405)
  .github/workflows/pythonpackage.yml
  RELEASE_NOTES.md
  pyproject.toml
Due: none

update pickling and tests
  RELEASE_NOTES.md
  ngboost/__init__.py
  ngboost/helpers.py
  pyproject.toml
  tests/test_pickling.py
Due: isort, flake8, pylint-ngboost, pylint-tests

add helper tests
  tests/test_helpers.py
Due: isort, pylint-tests

fix lint error
  tests/test_helpers.py
Due: isort, pylint-tests

Fix Backwards Compatibility 389 (#406)
  RELEASE_NOTES.md
  ngboost/__init__.py
  ngboost/helpers.py
  pyproject.toml
  tests/test_helpers.py
  tests/test_pickling.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fix validation fraction api
  RELEASE_NOTES.md
  ngboost/api.py
  pyproject.toml
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Fix deprecated criterion="friedman_mse" in default_tree_learner
  ngboost/learners.py
  tests/test_distns.py
Due: isort, flake8, pylint-ngboost, pylint-tests

add parameter-specific base learners
  ngboost/api.py
  ngboost/ngboost.py
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests

improve parameter-specific base learner support
  ngboost/api.py
  ngboost/ngboost.py
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fix lint in base learner tests
  tests/test_basic.py
Due: isort, pylint-tests

support parameter-specific base learners (#411)
  ngboost/api.py
  ngboost/ngboost.py
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests

update release notes for PRs 409 and 411
  RELEASE_NOTES.md
Due: none

update NGBSurvivial
  RELEASE_NOTES.md
  ngboost/api.py
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fix: set classifier metadata
  ngboost/api.py
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fix: satisfy lint on ci
  ngboost/api.py
  ngboost/helpers.py
Due: isort, flake8, pylint-ngboost

fix: use wheel-backed scikit-learn on python 3.14
  pyproject.toml
Due: none

fix validation fraction api (#407)
  RELEASE_NOTES.md
  ngboost/api.py
  pyproject.toml
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests

fix: use wheel-backed scikit-learn on python 3.14 (#414)
  pyproject.toml
Due: none

Keep random_state as given and seed a fresh generator in fit
  ngboost/ngboost.py
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Fix the scale gradient of the Laplace CRPScore
  ngboost/distns/laplace.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Fix censored scores and gradients for Exponential and LogNormal
  ngboost/distns/exponential.py
  ngboost/distns/lognormal.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Fix the log-scale Fisher information of TFixedDf and Cauchy
  ngboost/distns/t.py
  tests/test_score.py
Due: isort, flake8, pylint-ngboost, pylint-tests

Return a higher-is-better value from NGBoost.score
  RELEASE_NOTES.md
  ngboost/ngboost.py
  tests/test_basic.py
Due: isort, flake8, pylint-ngboost, pylint-tests
